@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
 
:root{ 
  font-family: Reddit Sans;
  scroll-behavior: smooth;
}
/* Hide scrollbar for all browsers */
body {
  overflow: hidden; /* Prevent default scrollbar */
  height: 100vh; /* Full viewport height */
}

/* Create a scrollable area */
.scrollable {
  overflow-y: auto; /* Allow vertical scrolling */
  height: 100%; /* Fill the height of the body */
  padding-right: 15px; /* Prevent content from shifting */
}

/* Optional: Hide scrollbar for webkit browsers */
.scrollable::-webkit-scrollbar {
  display: none; /* Hide scrollbar in webkit browsers */
}

a {
  /* font-family: "Reddit Sans", serif; */
  position: relative;
  color: inherit; /* Preserves link color */
  text-decoration: none; /* Remove default underline */
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 100%;
  height: 1px; /* Thickness of the underline */
  background-color:  rgb(226 232 240);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

a:hover::after { 
  transform: scaleX(1); /* Scales the line from 0 to 1, creating the effect */
}

a, .name, p{  font-family: "Reddit Sans", serif; }
 
.greeting,.about-me{
  font-family: 'proxima-nova', sans-serif; 
}

/* yellow color  
/* #febc08  
/* rgba(254,188,8,255) 
*/

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}